@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
  --black: #28282a;
  --lightTheme: #f8edeb;
  --shadeOfRed: #f25c54;
  --textCover:#ef476f;
  --darkTheme: #023047;
  --lightSelection: navajowhite;
  --buttonColor: #d90429;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: var(--lightTheme);
}

/* body::selection {
  background-color: navajowhite;
} */

/* Header - Navigation Styling */

header {
  background-color: var(--lightTheme);
  height: 13vh;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: calc(0.3rem + 1vw);
  padding-block-start: min(2rem, 4vh);
  padding-block-end: min(2rem, 4vh);
  color: var(--black);
}

.header-name{
  font-weight: 600;
  /* Mobile Text
  font-size: calc(1.5rem + 1vw); */
  font-size: calc(0.75rem + 0.75vw);
}

.header-name:hover {
  color: var(--shadeOfRed);
  transition: all 0.2s ease;
}

.header-ul {
  display: flex;
  align-items: center;
}

.header-ul li {
  list-style-type: none;
  padding-inline-end: clamp(1.5rem,  6%,   3rem);
  /* padding-left: clamp(1.5rem,  6%,   3rem); */
}

.header-ul li a {
  color: var(--black);
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.2s ease;
  cursor: pointer;
  font-weight: 600;
  font-size: calc(0.75rem + 0.75vw);
}

.header-ul li a:hover,
.header-ul li a:focus {
  border-block: 2px dashed var(--shadeOfRed);
  border-inline: 2px dashed var(--shadeOfRed);
  padding-block-start: 0.5rem;
  padding-block-end: 0.5rem;
  padding-inline-end: 0.5rem;
  padding-inline-start: 0.5rem;
  outline: none;
}

/* Header - Navigation Styling End */

/* Main Styling */

#main {
  height: 87vh;
  /* padding-inline-start: 5rem;
  padding-inline-end: 5rem; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h1 {
  font-size: calc(1.5rem + 3vw);
  width: calc(2em * 5);
}

span {
  color: var(--textCover);
}

#main p {
  border-block: 2px dashed var(--shadeOfRed);
  border-inline: 2px dashed var(--shadeOfRed);
  padding-block-start: 0.5rem;
  padding-block-end: 0.5rem;
  padding-inline-end: 0.5rem;
  padding-inline-start: 0.5rem;
}

h1::selection,
p::selection,
span::selection,
a::selection, 
h3::selection {
  background-color: var(--lightSelection);
}


/* Main Styling End */

/* About Styling */

.about {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headings {
  font-size: calc(1rem + 2vw);
  text-align: center;
}

.width {
  width: calc(5em * 5);
}

.margin-end {
  margin-inline-end: 2.5rem;
}

.margin-start {
  margin-inline-start: 2.5rem;
}

/* About Styling End */

/* Project Styling */

/* .height {
  height: 100vh;
} */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr ;
}

#grid-column-2 {
  grid-column: 2/3;
  display: flex;
  /* height: 20vh;*/
}

#grid-column-3 {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  /* height: 20vh;*/
}

#grid-row-3 {
  grid-row: 3/4;
  grid-column: 2/3;
  display: flex;
  /* height: 20vh;*/
}

#grid-row-4 {
  grid-row: 4/5;
  grid-column: 1/2;
  display: flex;
  /* height: 20vh;*/
}

img {
  width: calc(2em * 3);
}

/* Project Styling End */

/* Contact Styling */


footer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  /* font-size: clamp(1em, 0.75rem + 0.5vw, 1.2em); */
  font-weight: 400;
  font-size: calc(0.5rem + 1vw);
}

#footer-p {
  margin-inline: auto;
  margin-block-start: 0.5rem;
  margin-block-end: 3.5rem;
  text-align: center;
  width: calc(5em * 5);
}

form {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

#input-flex {
  display: flex;
  justify-content: center;
}

#margin-inline-end {
  margin-inline-end: 2rem;
}

#margin-inline-start {
  margin-inline-start: 2rem;
}

label {
  font-weight: 400;
  padding-block-end: 0.5rem;
}

#name,
#email,
#message {
  border-block-start: none;
  border-inline: none;
  border-block-end: 2px dashed var(--shadeOfRed);
  /* width: calc(4em * 5); */
  background-color: transparent;
  width: calc(17.5rem + 3vw);
  font-size: calc(0.3rem + 1vw);
}

#name:focus,
#email:focus,
#message:focus {
  transition: .2s ease;
  outline: none;
  /* border-block-start: none;
  border-inline: none; */
  border-block-end: 2px solid var(--shadeOfRed);
  /* background-color: transparent; */
}

.textarea-flex {
  margin-block-start: 1.5rem;
  margin-inline: auto;
}

#message {
  height: 4rem;
  width: calc(42rem + 3vw);
}

button {
  padding: 0.4em 0.8em;
  font-size: calc(0.5rem + 0.75vw);
  border-block: 2px dashed var(--shadeOfRed);
  border-inline: 2px dashed var(--shadeOfRed);
  background-color: transparent;
  position: relative;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  color: var(--buttonColor);
}
 
button::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--shadeOfRed);
  transform: translate(-50%, -50%) rotate(25deg);
  transition: .7s ease;
  z-index: -1;
}
 
button:hover::before,
button:focus::before {
  width: 100%;
  outline: none;
}
 
button:hover,
button:focus {
  color: var(--black);
  border-block: 2px solid var(--shadeOfRed);
  border-inline: 2px solid var(--shadeOfRed);
  outline: none;
  cursor: pointer;
}
 

/* Contact Styling End */