@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
  --black: #28282a;
  --shadeOfPink: #f8edeb;
  --shadeOfRed: #f25c54;
  --textCover: #ef476f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

body::selection {
  background-color: navajowhite;
}

/* Header - Navigation Styling */

header {
  background-color: var(--shadeOfPink);
  height: 13vh;
}

.nav {
  display: flex;
  justify-content: space-around;
  font-size: calc(0.3rem + 1vw);
  padding-block-start: min(2rem, 4vh);
  padding-block-end: min(2rem, 4vh);
  color: var(--black);
}

.header-name:hover {
  color: var(--shadeOfRed);
  transition: all 0.2s ease;
}

.header-ul {
  display: flex;
  align-items: center;
}

.header-ul li {
  list-style-type: none;
  padding-inline-end: clamp(1.5rem,  6%,   3rem);
  /* padding-left: clamp(1.5rem,  6%,   3rem); */
}

.header-ul li a {
  color: var(--black);
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.2s ease;
  cursor: pointer;
  font-weight: 600;
}

.header-ul li a:hover {
  border-block: 2px dashed var(--shadeOfRed);
  border-inline: 2px dashed var(--shadeOfRed);
  padding-block-start: 0.5rem;
  padding-block-end: 0.5rem;
  padding-inline-end: 0.5rem;
  padding-inline-start: 0.5rem;
}

/* Header - Navigation Styling End */

/* Main Styling */

#main {
  height: 87vh;
  /* padding-inline-start: 5rem;
  padding-inline-end: 5rem; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--shadeOfPink);
}

h1 {
  font-size: calc(1.5rem + 3vw);
  width: calc(2em * 5);
}

span {
  color: var(--textCover);
}

#main p {
  border-block: 2px dashed var(--shadeOfRed);
  border-inline: 2px dashed var(--shadeOfRed);
  padding-block-start: 0.5rem;
  padding-block-end: 0.5rem;
  padding-inline-end: 0.5rem;
  padding-inline-start: 0.5rem;
}


/* Main Styling End */

/* About Styling */

.about {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--shadeOfPink);
}

.headings {
  font-size: calc(1rem + 2vw);
}

.width {
  width: calc(5em * 5);
}

.margin-end {
  margin-inline-end: 2.5rem;
}

.margin-start {
  margin-inline-start: 2.5rem;
}

/* About Styling End */